.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../../images/bg-main-mobile.png");

  .back-cards-container {
    margin-top: 25px;
    left: 20px;
  }

  .front-cards-container {
    right: 20px;
    bottom: 86px;
    height: 20%;
  }
}
