.front-card {
  height: 100%;
  width: 85%;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .front-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    .front-card-logo {
      /*Adjusted container div as width and height of logo svg*/
      width: 96%;
      display: flex;
      margin-left: 20px;
      img {
        width: 84px;
        height: 47px;
      }
    }

    .top-section {
      height: 20%;
      width: 100%;

      h3 {
        font-size: 23px;
        word-spacing: 15px;
        text-align: center;
      }
    }

    .lower-section {
      display: flex;
      justify-content: space-between;
      margin-left: 25px;
      margin-right: 25px;
      height: 20%;

      h3 {
        font-size: 13px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 600;
      }
    }
  }
}
